@font-face {
    font-family: IstokWeb-Regular; /* Имя шрифта */
    src: url(./fonts/IstokWeb-Regular.ttf); /* Путь к файлу со шрифтом */
   }

* {
    box-sizing: border-box;
}
html, body, #app,#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
.Application{
    display: flex;
    min-height: 100%;
}
.Tasks{
    background: #f5f2f5;
    width: 80%;
}
.Menu{
    width: 20%;
    background: #53374e;
}
.Lists li{
    position: relative;
    display: flex;
    align-items: center;
    padding:  10px;
}
.Lists li:hover{
    cursor: pointer;
}
.Lists li>i{
    width: 25px;
    margin-right: 10px;
    font-size: 22px;
    color: #b3a5b1;
}
i.inbox{
    transform: rotate(45deg);
}
.Lists li p{
    color: #958293;
    margin: 0;
}
.Lists .active p, .Lists .active i{
    color:white;
}
.Lists .active{
    background: #4c9689;
}
.logo{
    padding: 5px;
    background-color: #432c3e;
}
.header{
    background: white;
    box-shadow: 0 4px 5px -2px #bfbfbf;
    padding: 5px;
}
.add-list{
    position: absolute;
    bottom: 0;
    width: inherit;
    border: none;
    background: #261c25;
    padding: 10px 10px 10px 35px;
    color: #27103E;
    font-size: 16px;
}
.add-list input{
    font-size: 16px;
    background: #261c25;
    COLOR: WHITE;
    border: none;
    width: 100%;
    border-bottom: 1px white solid;
}
.add-list input:focus{
    outline: none;
}
.add-list i{
    position: absolute;
    left: 5px;
    color: white;
    top: 10px;
    font-size: 25px;
}
.add-list input::-webkit-input-placeholder {color:white;}
.add-task{
    float: right;
    background: none;
    line-height: 40px;
    border: none;
    color: #69696b;
    font-size: 18px;
    font-family: "IstokWeb-Regular";
}
.add-task:hover{
    cursor: pointer;
    color: #e01563;
}
.add-task:focus{
    outline: none;
}
body {
    background: #eee;
    font-family: "IstokWeb-Regular";
}
h1 {
    font-weight: 200;
    color: white;
    font-size: 20px;
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.app {
    white-space: nowrap;
    height: 100%;
}
.list {
    position: relative;
    vertical-align: top;
    padding: 0 20px;
    overflow: auto;
}
.list.todo{
    margin-top: 20px;
}
.list:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}
.card {
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 10px 10px 40px;
    overflow: auto;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.card:not(:last-child){
    margin: 0 0 10px 0;
}
.card__title {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: #535352;
    position: relative;
}
.card__title--is-open:before {
    content: '';
}
.card:hover .card__actions, .Lists li:hover .list__actions{
    display: block;
}
.card .card__actions, .list__actions{
    float: right;
    display: none;
}
.list__actions{
    right: 5px;
    position: absolute;
}
.card .card__actions button, .list__actions button {
    background: unset;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: rgba(59, 65, 76, 0.5);
}
.card .card__actions button:hover, .list__actions button:hover{
    color: rgb(59, 65, 76);
}
.shadow{
    min-height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    background: rgba(59, 65, 76, 0.39);
    width: 100%;
    z-index: 10;
}
.shadow .NoteEditor{
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    width: 400px;
    background: rgb(255, 255, 255);
    box-shadow: #4d4f4d 0px 0px 20px;
    z-index: 10;
    padding: 10px 20px;
}
.NoteEditor .wrapper{
    padding-bottom: 60px;
    height: 90%;
    overflow: auto;
}
.NoteEditor h2{
    margin: 0 0 20px 0;
    font-family: 'IstokWeb-Regular';
    color: #53374e;
}
.NoteEditor label, .NoteEditor span {
    display: block;
    font-family: 'IstokWeb-Regular';
}
.NoteEditor span{
    font-size: 18px;
}
.NoteEditor__status{
    display: flex;
    justify-content: space-around; 
        margin: 10px 0 20px 0;
}
.NoteEditor__status div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.NoteEditor input[type='text'],textarea{
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    font-family: 'IstokWeb-Regular';
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    border: 1px #d9d6d7 solid;
}
.NoteEditor input[type='text']:focus,textarea:focus{
    outline: none;
}
.NoteEditor input[type='radio']{
    display: none;
}
.NoteEditor input[type='radio'] + label{
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.NoteEditor .subtasks li p{
    display: inline;
    vertical-align: middle;
}
.NoteEditor .subtasks li button{
    background: none;
    border: none;
    width: 20px;
    height: 20px;
}
.NoteEditor .subtasks li button:hover{
    cursor: pointer;
}
.NoteEditor .subtasks li button:focus{
    outline: none;
}
.NoteEditor input[type='radio'] + label span{
    display: inline-block;
    width: 7px;
    height: 7px;
    position: relative;
    top: -5px;
    left: 3px;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.NoteEditor input[type="radio"]:checked + label span{
     background-color: #159e49;
}
.NoteEditor input[name="starred"]{
    display: none;
}
.NoteEditor input[name="starred"] + label{
    display: flex;
}
.NoteEditor input[name="starred"] + label .fa-star{
    color: rgba(128, 128, 128, 0.39);
    margin-right: 10px;
    font-size: 22px;
}
.NoteEditor input[name="starred"]:checked + label .fa-star{
    color: #C4354C;
}
.NoteEditor input[name="starred"] + label a{
    text-decoration: underline;
}
.NoteEditor input[name="starred"] + label a:hover{
    text-decoration: none;
    cursor: pointer;
}
.NoteEditor__buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.NoteEditor__buttons button {
    width: 70px;
    padding: 5px;
    border: none;
    color: white;
    font-family: 'IstokWeb-Regular';
    font-size: 16px;
    line-height: 18px;
}
.NoteEditor__buttons button:not([disabled]):hover{
    cursor: pointer;
}
.NoteEditor__button.cancel {
    background-color: #2f2d2d;
    margin-right: 10px;
}
.NoteEditor__button.submit {
    background-color: #53b130;
}
.NoteEditor__button.submit:disabled{
    background-color: rgba(0, 128, 0, 0.6);
}
.NoteEditor .add-subtask{
    border: 1px grey dashed ;
}
.NoteEditor .add-subtask:focus{
    outline: none;
}
.header h2{
    color: #53374e;
    display: inline-block;
    position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 28px;
}
.description{
    margin: 5px 0;
}
.item-starred{
    color: #F44336;
    margin-left: 5px;
}
.main-check{
    margin: 0 10px 0 0;
}
.hide{
    display: none;
}
.starred-card{
    width: 20px;
    float: right;
    margin-top: -10px;
    margin-left:10px;
}
.list.done{
    opacity: 0.7;
    display: none;
}
.show-resolve{
    color: #40b892;
    text-align: center;
    margin: 10px 0;
}
.show-resolve::before{
    content: "";
    width: 200px;
    height: 1px;
    background: #697523;
}
.card__details{
    display: none;
}
.Lists li .list__actions i{
    font-size: 18px;
}
.input-calendar-field{
    width:50%;
}
.editList{
    border: none;
    border-bottom: 1px grey solid;
    display: none;
}
.main-check{
    display: none;
}
.main-check + label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px grey solid;
    position: absolute;
    top: 15px;
    left: 10px;
}
.main-check + label i{
    display: none;
}
.main-check:checked + label i{
    color: #28ca42;
    position: absolute;
    display: block;
    top: -2px;
    font-size: 20px;
}
label[for="starred"]{
    margin-top: 10px;
}
.subtasks{
    padding-left: 20px;
}
.subtasks button{
    color:#eb4c5c;
}
.NoteEditor span.today-btn{
    display: none;
}
.navigation-wrapper, .days-title{
    display: flex;
    justify-content: space-around;
}
.navigation-wrapper{
    color: #f3f3f3;
    background: #53374e;
}
.days{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: auto;
}
.day{
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
}
.input-calendar-wrapper {
    width: 210px;
    border-radius: 3px;
    border: 1px rgba(102, 82, 105, 0.29) solid;
    box-sizing: content-box;
    box-shadow: 0 0 6px rgba(97, 97, 97, 0.46);
    background: white;
}
.days-title{
    background: rgba(125, 77, 116, 0.23);
}
.current{
    background: rgba(125, 77, 116, 0.23);
}
.NoteEditor input[type='text'].input-calendar-field{
    width: 90px;
    margin: 0 0 0 95px;
    border: none;
}
.input-calendar{
    position: absolute;
    top: 10px;
    right: 20px;
}
.calendar-icon{
    float: right;
}
.day.prev, .day.next{
    color: rgba(128, 128, 128, 0.8);
}
.navigation-wrapper .icon:hover, .day:hover{
    cursor: pointer;
    color: #e01563;
}
